.form-wrapper
  = simple_form_for @post, html: { class: 'form-horizontal' } do |f|
    .form-group
      = f.input :title
    .form-group
      = f.input :tag_list, label: "Tags (Seperated by commas)", input_html: { value: f.object.tag_list.join(", ") }
    .form-group
      = f.input :content, as: :pagedown, input_html: { preview: true, rows: 20, data: :content }
    .form-group
      = f.input :publish_now, label: "Publish now?",  as: :boolean, :input_html => { :checked => @post.published_at == nil ? false : true }
    .form-group
      = f.button :submit, class: 'btn btn-success'