!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "decapr.io"
    = stylesheet_link_tag :application, :media => "all", 'data-turbolinks-track' => true
    = stylesheet_link_tag :application, :media => "all", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    = stylesheet_link_tag :application, :media => "all", :href => "http://fonts.googleapis.com/css?family=Abel"
    = javascript_include_tag :application, 'data-turbolinks-track' => true
    = csrf_meta_tags
  </head
  %body#page-top
    .container
      -flash.each do |name, msg|
        = content_tag :div, msg, class: [:alert, alert_for(name)]
      = yield
    %nav.navbar.navbar-default.navbar-fixed-top
      %div.container
        %div.navbar-header.page-scroll
          %button.navbar-toggle{"data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1"}
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.page-scroll{"href" => "/"}
            decapr.io
        %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{"href" => "#page-top"}
            %li.page-scroll
              = link_to "Blog", posts_path
            %li.page-scroll
              = link_to "Contact", contact_path
            %li.page-scroll
              = link_to "Portfolio", portfolio_path
            %li.page-scroll
              - if user_signed_in?
                = link_to 'Logout', destroy_user_session_path, :method => :delete
              - else
                = link_to 'Login', new_user_session_path
